{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div style="background-color: #c0a8a8; color: rgb(8, 8, 8); min-height: 100vh; padding: 20px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4 custom-card" style="background-color: #ffffff;">
                    <div class="card-body">
                        <h1 class="card-title">Nuevo Producto</h1>
                        <form action="" method="POST" novalidate enctype="multipart/form-data">
                            {{ wtf.quick_form(form) }}
                        </form>
                        <button class="btn btn-secondary mt-3" onclick="location.href='/clientes/listar'">LISTAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
